<div>
    <hr />

    <div>
        <h2>This is blog content</h2>
    </div>

    <div>
        <h3>10 Must-Know Git Commands for Every Developer</h3>
        <div>
            <span># github</span>
            <span># git</span>
            <span># beginners</span>
            <span># programming</span>
        </div>

        <section>
            <intro>
                Understanding Git and GitHub is crucial for any developer, providing effective version control and code
                management. Proficiency in these tools sets you apart and enhances your productivity. In this blog post,
                we
                will
                explore a set of Git commands to kickstart your journey into software development.
            </intro>
        </section>

        <section>
            <h4>Git Vocabulary</h4>
            <div>
                <p> Before delving into the commands, let's acquaint ourselves with some Git terminologies. This
                    understanding
                    will
                    not only help you grasp Git better but also provide a foundation for your overall comprehension.</p>
            </div>

        </section>

        <section>
            <h4>Git Vocabulary</h4>
            <div>
                <p>
                </p>
            </div>
        </section>

        <section>
            <h4>Repository</h4>
            <div>
                <p>
                    A repository, or repo, serves as a storage space where your project's source code and its version
                    history are
                    stored.

                </p>
            </div>
        </section>

        <section>
            <h4>Working Directory</h4>
            <div>
                <p>
                    The working directory is where you currently make changes to your project, housing the files you are
                    actively
                    working on.
                </p>
            </div>
        </section>

        <section>
            <h4>Staging</h4>
            <div>
                <p>
                    Staging acts as an intermediate area between the repository and your working directory. It's where
                    you add
                    changes before committing them to the main repository.

                </p>
            </div>
        </section>

        <section>
            <img src="/static/images/image_one.webp" />
            <img src="/static/images/image_two.jpg" />
            <img src="/static/images/image_three.jpg" />
            <img src="/static/images/image_four.jpg" />
            <video controls>
                <source src="/static/images/video_one.mp4" />
            </video>
            <video controls>
                <source src="/static/images/video_two.mp4" />
            </video>
        </section>

    </div>

    <hr />
</div>

<style>
    video,
    img {
        width: 100%;
    }
</style>