@font-face {
  font-family: "Playfair Display";
  font-weight: 800;
  src: url(./public/fonts/PlayfairDisplay-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 600;
  src: url(./public/fonts/PlayfairDisplay-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  src: url(./public/fonts/PlayfairDisplay-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 300;
  src: url(./public/fonts/PlayfairDisplay-Regular.ttf) format("truetype");
}

:root {
  font-size: 1.125rem;
  --color-bg: #e4e3ce;
  --cursor-stroke: #436e67;
  --color-text: #233a48;
  --color-content-title-sub: #436e67;
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display";
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

main {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--color-bg);
  overflow: hidden;
}

.demo {
  color: red;
  font-weight: 600;
}

.circle {
  stroke-width: 3px;
  fill: none;
  stroke: var(--cursor-stroke);
}

.mouse-cursor {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.header {
  padding: 2rem 3rem;
  display: block;
  width: 100%;
  text-align: center;
}

.header_image {
  justify-self: start;
}

.header_logo {
  border: 2px solid #eee;
  border-radius: 50%;
}

.header_links {
  justify-self: flex-end;
}

.header_links > a {
  padding: 5px 7px;
  border-radius: 3px;
  pointer-events: auto;
  display: inline-block;

  font-weight: 600;
  font-family: var(--font-sans);

  color: var(--color-text);
  text-decoration: none;

  position: relative;
  z-index: 1;
}

a.header_link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #bed0a6;
  left: 0;
  bottom: 0;
  border-radius: 3px;
  z-index: -1;
  transition: all 0.2s;
}

a.header_link:hover::before {
  height: 100%;
}

.header_links a:not(:last-child) {
  margin-right: 1rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 15rem);
  flex-direction: column;
  position: relative;
}

.content_title {
  font-weight: 800;
  font-size: 10vw;
  padding: 0 10px;
  position: relative;
  line-height: 1;
  color: var(--color-text);
  z-index: 10;
}

.content_title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 35%;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, #bed0a6);
  z-index: -1;
}

.content_sub_title {
  margin-top: 20px;
  font-size: 1rem;
  color: var(--color-content-title-sub);
  font-family: var(--font-sans);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

.social_links {
  display: flex;
  margin-top: 30px;
  gap: 32px;
}

.social_links a {
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--font-sans);
  color: black;
}

.image_grid {
  display: grid;
  position: absolute;
  pointer-events: none;
  grid-template-columns: repeat(50, 2%);
  grid-template-rows: repeat(50, 2%);
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
}

.grid__item-img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.grid_item.pos_1 {
  grid-area: 10/1/26/7;
}

.grid_item.pos_2 {
  grid-area: 1/18/9/27;
}

.grid_item.pos_3 {
  grid-area: 4/34/14/44;
}

.grid_item.pos_4 {
  grid-area: 13/11/32/18;
}

.grid_item.pos_5 {
  grid-area: 17/31/37/38;
}

.grid_item.pos_6 {
  grid-area: 20/45/29/51;
}

.grid_item.pos_7 {
  grid-area: 34/1/51/10;
}

.grid_item.pos_8 {
  grid-area: 38/14/46/22;
}

.grid_item.pos_9 {
  grid-area: 40/26/51/32;
}

.grid_item.pos_10 {
  grid-area: 37/39/55/47;
}

@media (min-width: 849px) {
  .header {
    padding: 2rem 3rem;
    display: grid;
    position: fixed;
    z-index: 10;
    width: 100%;
    grid-template-columns: 75% 25%;
    align-items: center;
  }

  .content {
    height: 100%;
  }
}
